<nav{{ attributes.addClass('menu--main') }}>
  <h2{{ title_attributes }}>{{ configuration.label }}</h2>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
